/* Load tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    Anakotmai font
    https://futureforwardparty.org/?p=1965
*/
@font-face {
    font-family: "anakotmai";
    src: url("./assets/font/anakotmai/anakotmai-medium.woff2");
}
@font-face {
    font-family: "anakotmai";
    src: url("./assets/font/anakotmai/anakotmai-bold.woff2");
    font-weight: bold;
}
@font-face {
    font-family: "anakotmai";
    src: url("./assets/font/anakotmai/anakotmai-light.woff2");
    font-weight: light;
}

body{
    background: url('./assets/img/background.jpeg');
    background-size: cover;
}

.glass {
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}
